body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --active-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--active-color);
}

:root {
  --navlinc-headerlogostudio-mainsection-filterbuisnesdescr-footerbgd-color: #2e2f42;
}

:root {
  --logoweb-mainsection-launch-filter-color: #4d5ae5;
}

:root {
  --contact-advantagestext-filterbuisnes-heronameprofession-color: #434455;
}

:root {
  --mainsectionlaunch--mainsectiontitle-color: #ffffff;
}

:root {
  --footer-logo-studio-color: #f4f4fd;
}

:root {
  --footertext-bordercolor-color: #e7e9fc;
}

.logo-web {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: var(--logoweb-mainsection-launch-filter-color);
}

.header-logo-studio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: var(
    --navlinc-headerlogostudio-mainsection-filterbuisnesdescr-footerbgd-color
  );
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.contact {
  font-size: 16px;
  line-height: 24px;
  color: var(--contact-advantagestext-filterbuisnes-heronameprofession-color);
  font-style: normal;
}

.contact:focus,
.contact:hover {
  color: var(--logoweb-mainsection-launch-filter-color);
}

.main-section {
  background: var(
    --navlinc-headerlogostudio-mainsection-filterbuisnesdescr-footerbgd-color
  );
}

.main-section-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: var(--mainsectionlaunch--mainsectiontitle-color);
}

.main-section-launch {
  font-family: inherit;
  color: var(--mainsectionlaunch--mainsectiontitle-color);
  background: var(--logoweb-mainsection-launch-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.main-section-launch:active {
  color: var(--logoweb-mainsection-launch-color);
  background-color: var(--mainsectionlaunch--mainsectiontitle-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.advantages-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--contact-advantagestext-filterbuisnes-heronameprofession-color);
}

.hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.hero-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.hero-name-profession {
  font-size: 16px;
  line-height: 24px;
  color: var(--contact-advantagestext-filterbuisnes-heronameprofession-color);
}

.filter {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--logoweb-mainsection-launch-filter-color);
  background: var(--footer-logo-studio-color);
  border: 1px solid var(--footertext-bordercolor-color);
  border-radius: 4px;
}

.filter:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--mainsectionlaunch--mainsectiontitle-color);
  background: var(--active-color);
}

.filter-buisnes-descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: var(
    --navlinc-headerlogostudio-mainsection-filterbuisnesdescr-footerbgd-color
  );
}

.filter-buisnes {
  font-size: 16px;
  line-height: 24px;
  color: var(--contact-advantagestext-filterbuisnes-heronameprofession-color);
  text-decoration: none;
}

.footer-bgd {
  width: 1440px;
  height: 310px;
  background: var(
    --navlinc-headerlogostudio-mainsection-filterbuisnesdescr-footerbgd-color
  );
  width: 1440px;
  height: 310px;
}

.footer-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--footertext-bordercolor-color);
}

.footer-logo-studio {
  color: var(--footer-logo-studio-color);
}
